.vuetable th.sortable:hover {
    color: #2185d0;
    cursor: pointer;
}
.vuetable-actions {
    width: 16% !important;
    padding: 12px 0px;
    text-align: center;
}
.vuetable-actions > button {
    padding: 3px 6px;
    margin-right: 2px !important;
}
.vuetable-pagination {
    margin: 0;
}
.vuetable-pagination .btn {
    margin: 2px;
}
.vuetable-pagination-info {
    float: left;
    margin-top: auto;
    margin-bottom: auto;
}
ul.pagination {
    margin: 0px;
}
.vuetable-pagination-component {
    float: right;
}
.vuetable-pagination-component li a {
    cursor: pointer;
}
[v-cloak] {
    display: none;
}
.highlight {
    background-color: yellow;
}
.vuetable-detail-row {
    /*height: 200px;*/
}
.detail-row {
    margin-left: 40px;
}
.expand-transition {
    transition: all .5s ease;
}
.expand-enter, .expand-leave {
    height: 0;
    opacity: 0;
}

/* Loading Animation: */
.vuetable-wrapper {
    opacity: 1;
    position: relative;
    filter: alpha(opacity=100); /* IE8 and earlier */
}
.vuetable-wrapper.loading {
    opacity:0.4;
    transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
}
.vuetable-wrapper.loading:after {
    position: absolute;
    content: '';
    top: 40%;
    left: 50%;
    margin: -30px 0 0 -30px;
    border-radius: 100%;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    border: 4px solid #000;
    height: 60px;
    width: 60px;
    background: transparent !important;
    display: inline-block;
    -webkit-animation: pulse 1s 0s ease-in-out infinite;
    animation: pulse 1s 0s ease-in-out infinite;
}
@keyframes pulse {
    0% {
        -webkit-transform: scale(0.6);
        transform: scale(0.6); }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
        border-width: 12px; }
    100% {
        -webkit-transform: scale(0.6);
        transform: scale(0.6); }
}

.width-fixed {
    max-width: 220px;
    min-width: 200px;
}

.last-row-in-day {
    border-bottom: 2px solid #0f0f0f;
}
/*body {*/
/*    font-family: Helvetica Neue, Arial, sans-serif;*/
/*    font-size: 14px;*/
/*    color: #444;*/
/*}*/

/*table {*/
/*    border: 2px solid #42b983;*/
/*    border-radius: 3px;*/
/*    background-color: #fff;*/
/*}*/

/*th {*/
/*    background-color: #42b983;*/
/*    color: rgba(255, 255, 255, 0.66);*/
/*    cursor: pointer;*/
/*    -webkit-user-select: none;*/
/*    -moz-user-select: none;*/
/*    -ms-user-select: none;*/
/*    user-select: none;*/
/*}*/

/*td {*/
/*    background-color: #f9f9f9;*/
/*}*/

/*th,*/
/*td {*/
/*    min-width: 120px;*/
/*    padding: 10px 20px;*/
/*}*/

/*th.active {*/
/*    color: #fff;*/
/*}*/

/*th.active .arrow {*/
/*    opacity: 1;*/
/*}*/

/*.arrow {*/
/*    display: inline-block;*/
/*    vertical-align: middle;*/
/*    width: 0;*/
/*    height: 0;*/
/*    margin-left: 5px;*/
/*    opacity: 0.66;*/
/*}*/

/*.arrow.asc {*/
/*    border-left: 4px solid transparent;*/
/*    border-right: 4px solid transparent;*/
/*    border-bottom: 4px solid #fff;*/
/*}*/

/*.arrow.dsc {*/
/*    border-left: 4px solid transparent;*/
/*    border-right: 4px solid transparent;*/
/*    border-top: 4px solid #fff;*/
/*}*/